@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./fontface/font-family.css";

html,
body {
  font-family: Gordita-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

strong,
b {
  font-weight: bold !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  background-color: rgba(255, 255, 255, 0);
}

@layer components {
  .label-text {
    @apply text-[12px] md:text-[14px] font-Gordita-Medium text-black;
  }
  .key-text {
    @apply text-[12px] md:text-[14px] font-Gordita-Medium;
  }
  .btn-text {
    @apply text-[12px] md:text-[14px] font-Gordita-Medium;
  }
  .heading-text {
    @apply text-[16px] md:text-[24px] font-Gordita-Bold text-[#2872a1] transform uppercase;
  }
  .sub-heading-text {
    @apply text-[14px] md:text-[16px] font-Gordita-Medium;
  }

  .sublabel-text {
    @apply text-[11px] md:text-[12px] font-Gordita-Medium;
  }
  .footer-text {
    @apply text-[11px] md:text-[12px] font-Gordita-Medium font-semibold text-gray-700;
  }
  .step-heading {
    @apply text-[16px] md:text-[18px] font-Gordita-Bold text-[#2872a1];
  }
}
