.rich-text-container {
  font-family: Gordita-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif !important;
  font-weight: 200 !important;
}

.custom-scrollbar {
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d9dadd;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar {
  overflow-x: auto;
}

/* Custom horizontal scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d9dadd;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.rich-text-container code {
  padding: 2px 4px !important;
  background-color: #f0f0f0 !important;
  border-radius: 3px !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !important;
}

.rich-text-container blockquote {
  margin-top: 5px !important;
  padding-left: 16px !important;
  margin-bottom: 5px !important;
  border-left: 4px solid #ccc !important;
}

.rich-text-container ul {
  list-style-type: disc !important;
  list-style-position: inside !important;
}

.rich-text-container ol {
  list-style-type: decimal !important;
  list-style-position: inside !important;
}

.rich-text-container h1 {
  font-size: 2em !important;
}

.rich-text-container h2 {
  font-size: 1.5em !important;
}

.rich-text-container h3 {
  font-size: 1.17em !important;
}

.rich-text-container a {
  color: #b80202 !important;
}

.ql-container {
  font-family: Gordita-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.ql-toolbar.ql-snow {
  font-family: Gordita-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.ql-container.ql-snow {
  flex-grow: 1 !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  border-radius: 0 0 5px 5px !important;
  border: 0 !important;
}

.ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0 !important;
  border: 0 !important;
  border-bottom: solid 1px #c8d6d9 !important;
}

.ql-editor {
  flex-grow: 1;
  font-weight: 200 !important;
  font-family: Gordita-Regular, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

.ql-editor ol,
.ql-editor ul {
  padding-left: 0.3em !important;
}

.ql-snow .ql-editor a {
  text-decoration: none !important;
  cursor: pointer;
}

.ql-toolbar.ql-snow .ql-picker-options {
  border: 0 !important;
  border-radius: 0.375rem !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1) !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  margin-top: 5px !important;
}

.ql-snow .ql-picker-options .ql-picker-item {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #000 !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #000 !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #000 !important;
}

.ql-snow .ql-picker {
  color: #acb4b9 !important;
}

.ql-formats button,
.ql-formats .ql-picker {
  position: relative !important;
}

.ql-align-center {
  text-align: center !important;
}
.ql-align-right {
  text-align: right !important;
}
.ql-align-justify {
  text-align: justify !important;
}

.ql-indent-1 {
  padding-left: 3em !important;
}
.ql-indent-2 {
  padding-left: 6em !important;
}
.ql-indent-3 {
  padding-left: 9em !important;
}
.ql-indent-4 {
  padding-left: 12em !important;
}
.ql-indent-5 {
  padding-left: 15em !important;
}
.ql-indent-6 {
  padding-left: 18em !important;
}
.ql-indent-7 {
  padding-left: 21em !important;
}
.ql-indent-8 {
  padding-left: 24em !important;
}

.ql-formats button[class^='ql-']::after,
.ql-formats .ql-picker[class^='ql-']::after {
  white-space: nowrap !important;
  position: absolute;
  display: none;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -10px);
  background-color: #2f2b2b;
  color: #fff;
  font-weight: 100;
  border-radius: 3px;
  padding: 5px;
}

.ql-formats button[class^='ql-']:hover::after,
.ql-formats button[class^='ql-']:hover::before,
.ql-formats .ql-picker[class^='ql-']:hover::after,
.ql-formats .ql-picker[class^='ql-']:hover::before {
  display: block;
}

.ql-formats .ql-bold::after {
  content: 'bold';
}

.ql-formats .ql-italic::after {
  content: 'italic';
}

.ql-formats .ql-underline::after {
  content: 'underline';
}

.ql-formats .ql-strike::after {
  content: 'strikethrough';
}

.ql-formats .ql-list[value='bullet']::after {
  content: 'bullet List';
}

.ql-formats .ql-list[value='ordered']::after {
  content: 'numbered List';
}

.ql-formats .ql-blockquote::after {
  content: 'blockquote';
}

.ql-formats .ql-link::after {
  content: 'select text and add link';
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'normal' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
  content: 'heading 1' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
  content: 'heading 2' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='3']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
  content: 'heading 3' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='4']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']::before {
  content: 'heading 4' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='5']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']::before {
  content: 'heading 5' !important;
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value='6']::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='6']::before {
  content: 'heading 6' !important;
}
.ql-snow a {
  color: #b80202 !important;
}

.ql-snow .ql-tooltip {
  z-index: 1 !important;
}

@media (max-width: 640px) {
  .ql-snow .ql-picker-label {
    padding-left: 3px !important;
  }

  .ql-toolbar.ql-snow .ql-formats {
    margin-right: 3px !important;
  }
  .ql-toolbar.ql-snow {
    padding: 4px !important;
  }
}

@media (max-width: 420px) {
  .ql-snow .ql-picker.ql-header {
    width: 88px !important;
  }
  .ql-snow.ql-toolbar button {
    padding: 2px 2px !important;
    height: 22px !important;
    width: 26px !important;
  }
}
